<div class="header">
    <div class="header-container">
        <button mat-button class="menu-button" (click)="changeMenuWidth()">
            <mat-icon>menu</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="language" class="menu-button">
            <mat-icon>translate</mat-icon>
        </button>
        <mat-menu #language="matMenu">
            <button mat-menu-item (click)="setLanguagePl()">
                <span>{{ 'core.header.polish' | translate }}</span>
            </button>
            <button mat-menu-item (click)="setLanguageEng()">
                <span>{{ 'core.header.english' | translate }}</span>
            </button>
            <button mat-menu-item (click)="setLanguageJp()">
                <span>{{ 'core.header.japanese' | translate }}</span>
            </button>
        </mat-menu>
        <img class="header-logo" src="assets\graphic\logo_1.png">
    </div>
    <div class="header-container">
        <div class="header-right-side">
            <ng-container *ngIf="loggedUser">
                <div class="welcome-text">
                    {{ 'core.header.welcome' | translate }} {{ loggedUser.name }} {{ loggedUser.surname }}
                </div>
            </ng-container>
            <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/account">
                    <mat-icon>account_circle</mat-icon>
                    <span>{{ 'core.header.profile' | translate }}</span>
                </button>
                <button mat-menu-item (click)="signOutUser()">
                    <mat-icon>keyboard_return</mat-icon>
                    <span>{{ 'core.header.sign-out' | translate }}</span>
                </button>
            </mat-menu>
        </div>
    </div>
</div>