<h2 mat-dialog-title>{{ "permissions.edit-worker-permission" | translate }}</h2>
<mat-dialog-content class="mat-typography mb-2">
    <h3 class="w-100 text-center">
        {{workerServiceRelationList.workerRef.name}} {{workerServiceRelationList.workerRef.surname}}   
    </h3>
    <form [formGroup]="workerServiceRelationForm">
        <div class="col">
            <div class="row">
                <mat-form-field class="m-2 w-100">
                    <mat-label>
                        {{ "permissions.permission-service" | translate }}
                    </mat-label>
                    <mat-select formControlName="serviceRefList" multiple [compareWith]="compareObjects" [disableOptionCentering]="true">
                        <mat-select-trigger>
                            {{workerServiceRelationForm.value.serviceRefList?.length > 0 ? workerServiceRelationForm.value.serviceRefList[0].name : ''}}
                            <span *ngIf="workerServiceRelationForm.value.serviceRefList?.length > 1" class="mini-info">
                                ( +{{workerServiceRelationForm.value.serviceRefList.length - 1}}
                                {{ 'shared.others' | translate }} )
                            </span>
                        </mat-select-trigger>
                        <mat-option *ngFor="let service of serviceRefList" [value]="service">
                            {{service.type}} - {{service.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>
        {{ "shared.cancel" | translate }}
    </button>
    <button mat-raised-button (click)="sumbit()" color="primary"
        [mat-dialog-close]="true">
        {{ "shared.save" | translate }}
    </button>
</mat-dialog-actions>