<h1 mat-dialog-title *ngIf="data.title">{{data.title}}</h1>
<div mat-dialog-content *ngIf="data.message">
    <p>{{ data.message }}</p>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button *ngIf="data.cancelButton" mat-dialog-close>{{ 'shared.cancel' | translate }}</button>
    <button mat-raised-button color="primary" *ngIf="data.okButton"
        mat-dialog-close>{{ 'shared.ok' | translate }}</button>
    <button mat-raised-button color="primary" *ngIf="data.confirmButton" [mat-dialog-close]="true"
        cdkFocusInitial>{{ 'shared.confirm' | translate }}</button>
</div>