<h2 mat-dialog-title>{{ 'employess.check-payment' | translate }}</h2>
<mat-dialog-content class="mat-typography mb-4">
        <div class="col">
            <div class="row">
                <mat-form-field class="m-2 form-field">
                    <mat-label>
                        {{ 'account.payment' | translate }}
                    </mat-label>
                    <input matInput type="text" [value]="paymentInformation.amount + ' PLN'" [disabled]="true">
                </mat-form-field>
                <mat-form-field class="m-2 form-field">
                    <mat-label>
                        {{ 'account.monthly-bonus' | translate }}
                    </mat-label>
                    <input matInput type="text" [value]="paymentInformation.bonus + ' PLN'" [disabled]="true">
                </mat-form-field>
            </div>
        </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button 
        (click)="sumbit()" 
        mat-raised-button color="primary" 
        [mat-dialog-close]="true">
        {{ "shared.close" | translate }}
    </button>
</mat-dialog-actions>