<div class="video-container">
    <video autoplay muted loop #videoPlayer>
        <source src="/assets/media/background.mp4" type="video/mp4">
    </video>
</div>
<div class="main-div">
    <mat-card class="login-card">
        <mat-card-header>
            <div class="login-box-header">
                <img class="logo-graphic" src="assets\graphic\logo_1.png">
            </div>
            <div class="title">
                {{ 'title' | translate }}
            </div>
        </mat-card-header>
        <mat-horizontal-stepper linear #stepper>
            <mat-step>
                <app-login-form [incorrect]="incorrectLogin" (loginFormEmmiter)="loginUser($event)">
                </app-login-form>
            </mat-step>
            <mat-step>
                <app-password-reminder (passwordReminderEvent)="remindPassword($event)">
                </app-password-reminder>
            </mat-step>
        </mat-horizontal-stepper>
    </mat-card>
</div>