<div class="card-information p-4">
    <div class="title-information">
        <mat-icon class="mr-2">account_circle</mat-icon>
        <div class="title">
            {{ "account.account-information" | translate }}
        </div>
    </div>
    <div class="text-information">
        <div class="row mt-4 mb-3">
            <div class="col">
                &#8226; {{ 'account.name' | translate }}
            </div>
            <div class="col">
                {{ workerAccountInfromation.name }}
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row mt-3 mb-3">
            <div class="col">
                &#8226; {{ 'account.surname' | translate }}
            </div>
            <div class="col">
                {{ workerAccountInfromation.surname }}
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row mt-3 mb-3">
            <div class="col">
                &#8226; {{ 'account.birthday' | translate }}
            </div>
            <div class="col">
                {{ workerAccountInfromation.birthday }}
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row mt-3 mb-3">
            <div class="col">
                &#8226; {{ 'account.pesel' | translate }}
            </div>
            <div class="col">
                {{ workerAccountInfromation.pesel }}
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row mt-3 mb-3">
            <div class="col">
                &#8226; {{ 'account.birthday' | translate }}
            </div>
            <div class="col">
                {{ workerAccountInfromation.birthday }}
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row mt-3 mb-3">
            <div class="col">
                &#8226; {{ 'account.phone' | translate }}
            </div>
            <div class="col">
                {{ workerAccountInfromation.phone }}
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row mt-3 mb-3">
            <div class="col">
                &#8226; {{ 'account.e-mail' | translate }}
            </div>
            <div class="col">
                {{ workerAccountInfromation.email }}
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row mt-3 mb-3">
            <div class="col">
                &#8226; {{ 'account.street' | translate }}
            </div>
            <div class="col">
                {{ workerAccountInfromation.street }}
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row mt-3 mb-3">
            <div class="col">
                &#8226; {{ 'account.town' | translate }}
            </div>
            <div class="col">
                {{ workerAccountInfromation.town }}
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row mt-3 mb-3">
            <div class="col">
                &#8226; {{ 'account.townCode' | translate }}
            </div>
            <div class="col">
                {{ workerAccountInfromation.code }}
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row mt-3 mb-3">
            <div class="col">
                &#8226; {{ 'account.type' | translate }}
            </div>
            <div class="col">
                {{ 'enums.' + workerAccountInfromation.accountType | translate }}
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                <button (click)="accountDataEditModal()" class="mt-4" mat-raised-button color="primary">
                    {{ "shared.update-data" | translate }}
                </button>
            </div>
        </div>
    </div>
</div>