<div class="row">
    <div class="col">
        <app-account-information-card *ngIf="workerAccountInformation"
        (workerAccountInfromationEventEmitter)="workerAccountInfromationUpdate($event)"
        [workerAccountInfromation]="workerAccountInformation">
        </app-account-information-card>
    </div>
    <div class="col">
        <app-worker-health-card-information-card *ngIf="workerHealthCard"
        (workerHealthCardEventEmitter)="workerHealthCardUpdate($event)"
        [workerHealthCard]="workerHealthCard">
        </app-worker-health-card-information-card>
    </div>
    <div class="col">
        <div class="mb-4">
            <app-worker-price-information-card *ngIf="paymentInformation"
            [paymentInformation]="paymentInformation">
            </app-worker-price-information-card>
        </div>
        <div>
            <app-worker-certificates-information-card *ngIf="workerAccountInformation"
            (certificatesEventEmitter)="certificatesUpdate($event)"
            [certificates]="workerAccountInformation.certificates">
            </app-worker-certificates-information-card>
        </div>
    </div>
</div>