<div class="video-container">
    <video autoplay muted loop #videoPlayer>
        <source src="/assets/media/background.mp4" type="video/mp4">
    </video>
</div>
<div class="content">
    <div class="elements">
        <div class="title">
            404
        </div>
        <div class="text">
            {{ 'error-page.message' | translate }}
        </div>
        <button class="login-button" mat-raised-button color="primary" routerLink="/dashboard">
            {{ 'error-page.go-to-dashboard' | translate }}
        </button>
    </div>
</div>