<div class="card-information p-4">
    <div class="title-information">
        <mat-icon class="mr-2">devices</mat-icon>
        <div class="title">
            {{ "menu.equipment" | translate }}
        </div>
    </div>
    <div class="table-wrapper">
        <table class="w-100" mat-table [dataSource]="tableSource" #MatSortEquipment="matSort" matSort>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'equipment.name' | translate }}
                </th>
                <td mat-cell *matCellDef="let equipment" [matBadgeHidden]="!equipment.toCheck" matBadgePosition="before"
                    matBadge="!" matBadgeOverlap="false">
                    {{ equipment.name }}
                </td>
            </ng-container>
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'equipment.description' | translate }}
                </th>
                <td mat-cell *matCellDef="let equipment">
                    {{ equipment.description }}
                </td>
            </ng-container>
            <ng-container matColumnDef="getDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'equipment.get-date' | translate }}
                </th>
                <td mat-cell *matCellDef="let equipment">
                    {{ equipment.getDate }}
                </td>
            </ng-container>
            <ng-container matColumnDef="warrantyDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'equipment.warranty-date' | translate }}
                </th>
                <td mat-cell *matCellDef="let equipment">
                    {{ equipment.warrantyDate }}
                </td>
            </ng-container>
            <ng-container matColumnDef="lastCheckDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'equipment.last-check-date' | translate }}
                </th>
                <td mat-cell *matCellDef="let equipment">
                    {{ equipment.lastCheckDate }}
                </td>
            </ng-container>
            <ng-container matColumnDef="comments">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ 'equipment.comments' | translate }}
                </th>
                <td mat-cell *matCellDef="let equipment">
                    {{ equipment.comments }}
                </td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>
                </th>
                <td mat-cell *matCellDef="let equipment">
                    <button class="float-right" mat-icon-button color="warn" (click)="removeEquipment(equipment)"
                        matTooltip="{{ 'shared.delete' | translate }}">
                        <mat-icon>delete_forever</mat-icon>
                    </button>
                    <button class="float-right" mat-icon-button (click)="editEquipment(equipment)"
                        matTooltip="{{ 'shared.edit' | translate }}">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button class="float-right" mat-icon-button (click)="markAsChecked(equipment)"
                        matTooltip="{{ 'shared.checked' | translate }}">
                        <mat-icon>check_circle_outline</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="tableDisplayedColumns sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: tableDisplayedColumns;"></tr>
        </table>
        <mat-paginator #MatPaginatorEquipment="matPaginator" [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons>
        </mat-paginator>
    </div>
</div>
<div class="text-right">
    <button mat-raised-button class="mr-2" color="primary"
        (click)="addNewEquipment()">{{ 'equipment.add-new' | translate }}</button>
</div>