<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<h1 style="
    font-size: 1.625rem;
    margin-bottom: 0.25em;
    font-family: Century Gothic;
    font-weight: 100;">
    Utworzono konto
</h1>
<div>
    <div style="width: 100%">
        <h4 style="
        font-size: 15px;
        margin-bottom: 0.25em;
        font-family: Century Gothic;
        font-weight: 100;">
        Powiadomienie wysłane za pośrednictwem systemu HSBSMS:
        </h4>
    </div>
    <div style="width: 100%">
        <h4 th:text="${login}" style="
        font-size: 15px;
        margin-bottom: 0.25em;
        font-family: Century Gothic;
        font-weight: 700;">
        </h4>
    </div>
    <div style="width: 100%">
        <h4 th:text="${password}" style="
        font-size: 15px;
        margin-bottom: 0.25em;
        font-family: Century Gothic;
        font-weight: 700;">
        </h4>
    </div>
</div>
<h4 style="
    font-size: 12px;
    font-family: Century Gothic;
    font-weight: 100;
    float: left;
    margin: 0;">
    [HSBSMS] Hubert Wąsik - 609 155 131
</h4>
</body>
</html>
