<h2 mat-dialog-title>{{ "equipment.add-equipment" | translate }}</h2>
<mat-dialog-content class="mat-typography mb-2">
    <form [formGroup]="equipmentForm">
        <div class="col">
            <div class="row">
                <mat-form-field class="m-2 form-field">
                    <mat-label>
                        {{ 'equipment.name' | translate }}
                    </mat-label>
                    <input matInput type="text" formControlName="name">
                    <mat-error *ngIf="equipmentForm.controls['name'].hasError('required')">
                        <strong>{{ 'shared.required_field' | translate }}</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="m-2 form-field">
                    <mat-label>
                        {{ 'equipment.description' | translate }}
                    </mat-label>
                    <input matInput type="text" formControlName="description">
                    <mat-error *ngIf="equipmentForm.controls['description'].hasError('required')">
                        <strong>{{ 'shared.required_field' | translate }}</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="m-2 form-date-field">
                    <mat-label>
                        {{ 'equipment.get-date' | translate }}
                    </mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="getDate">
                    <mat-datepicker-toggle  matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="equipmentForm.controls['getDate'].hasError('required')">
                        <strong>{{ 'shared.required_field' | translate }}</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="m-2 form-date-field">
                    <mat-label>
                        {{ 'equipment.warranty-date' | translate }}
                    </mat-label>
                    <input matInput [matDatepicker]="picker2" formControlName="warrantyDate">
                    <mat-datepicker-toggle  matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                    <mat-error *ngIf="equipmentForm.controls['warrantyDate'].hasError('required')">
                        <strong>{{ 'shared.required_field' | translate }}</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="m-2 w-100">
                    <mat-label>
                        {{ 'equipment.comments' | translate }}
                    </mat-label>
                    <textarea matInput formControlName="comments"></textarea>
                    <mat-error *ngIf="equipmentForm.controls['comments'].hasError('required')">
                        <strong>{{ 'shared.required_field' | translate }}</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>
        {{ "shared.cancel" | translate }}
    </button>
    <button
        [disabled]="!equipmentForm.valid"
        mat-raised-button (click)="sumbit()" color="primary" [mat-dialog-close]="true">
        {{ "shared.save" | translate }}
    </button>
</mat-dialog-actions>