<div class="card-information p-4">
    <div class="title-information">
        <mat-icon class="mr-2">loyalty</mat-icon>
        <div class="title">
                {{ "account.health-card" | translate }}
        </div>
    </div>
    <div class="text-information">
        <div class="row mt-4 mb-3">
            <div class="col">
                &#8226; {{ "account.pacemaker" | translate }}
            </div>
            <div class="col">
                {{ "" + workerHealthCard.pacemaker | translate }}
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row mt-3 mb-3">
            <div class="col">
                &#8226; {{ "account.hermophilia" | translate }}
            </div>
            <div class="col">
                {{ "" + workerHealthCard.hermophilia | translate }}
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row mt-3 mb-3">
            <div class="col">
                &#8226; {{ "account.psoriasis" | translate }}
            </div>
            <div class="col">
                {{ "" + workerHealthCard.psoriasis | translate }}
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row mt-3 mb-3">
            <div class="col">
                &#8226; {{ "account.allergies" | translate }}
            </div>
            <div class="col">
                {{ "" + workerHealthCard.allergies }}
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row mt-3 mb-3">
            <div class="col">
                &#8226; {{ "account.discoloration" | translate }}
            </div>
            <div class="col">
                {{ "" + workerHealthCard.discoloration | translate }}
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row mt-3 mb-3">
            <div class="col">
                &#8226; {{ "account.infectious-diseases" | translate }}
            </div>
            <div class="col">
                {{ "" + workerHealthCard.infectiousDiseases | translate }}
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row mt-3 mb-3">
            <div class="col">
                &#8226; {{ "account.blood-circulation-disorders" | translate }}
            </div>
            <div class="col">
                {{ "" + workerHealthCard.bloodCirculationDisorders | translate }}
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row mt-3 mb-3">
            <div class="col">
                &#8226; {{ "account.herpes" | translate }}
            </div>
            <div class="col">
                {{ "" + workerHealthCard.herpes | translate }}
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row mt-3 mb-3">
            <div class="col">
                &#8226; {{ "account.fever" | translate }}
            </div>
            <div class="col">
                {{ "" + workerHealthCard.fever | translate }}
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row mt-3 mb-3">
            <div class="col">
                &#8226; {{ "account.pregnancy" | translate }}
            </div>
            <div class="col">
                {{ "" + workerHealthCard.pregnancy | translate }}
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row mt-3 mb-3">
            <div class="col">
                &#8226; {{ "account.weakness" | translate }}
            </div>
            <div class="col">
                {{ "" + workerHealthCard.weakness | translate }}
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                <button *ngIf="workerHealthCard.needsUpdate" matBadge="!" matBadgePosition="before" matBadgeColor="warn" 
                (click)="workerEditHealthCard()" class="mt-4" mat-raised-button color="primary">
                    {{ "shared.update-data" | translate }}
                </button>
                <button *ngIf="!workerHealthCard.needsUpdate" (click)="workerEditHealthCard()" class="mt-4" mat-raised-button color="primary">
                    {{ "shared.edit" | translate }}
                </button>
            </div>
        </div>
    </div>
</div>