<h2 mat-dialog-title>{{ "services.edit-service" | translate }}</h2>
<mat-dialog-content class="mat-typography mb-2">
    <form [formGroup]="serviceForm">
        <div class="col">
            <div class="row">
                <mat-form-field class="m-2 form-field">
                    <mat-label>
                        {{ "services.type" | translate }}
                    </mat-label>
                    <input matInput type="text" formControlName="type">
                    <mat-error *ngIf="serviceForm.controls['type'].hasError('required')">
                        <strong>{{ 'shared.required_field' | translate }}</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="m-2 form-field">
                    <mat-label>
                        {{ "services.name" | translate }}
                    </mat-label>
                    <input matInput type="text" formControlName="name">
                    <mat-error *ngIf="serviceForm.controls['name'].hasError('required')">
                        <strong>{{ 'shared.required_field' | translate }}</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="m-2 form-field">
                    <mat-label>
                        {{ "services.description" | translate }}
                    </mat-label>
                    <input matInput type="text" formControlName="description">
                    <mat-error *ngIf="serviceForm.controls['description'].hasError('required')">
                        <strong>{{ 'shared.required_field' | translate }}</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="m-2 form-field">
                    <mat-label>
                        {{ "services.price" | translate }}
                    </mat-label>
                    <input matInput type="number" formControlName="price">
                    <mat-error *ngIf="serviceForm.controls['price'].hasError('required')">
                        <strong>{{ 'shared.required_field' | translate }}</strong>
                    </mat-error>
                    <mat-error *ngIf="serviceForm.controls['price'].hasError('min')">
                        <strong>{{ 'services.bigger-than-zero' | translate }}</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="m-2 form-field">
                    <mat-label>
                        {{ "services.time" | translate }}
                    </mat-label>
                    <input matInput type="number" formControlName="time" (change)="changeTo15Value()">
                    <mat-error *ngIf="serviceForm.controls['time'].hasError('required')">
                        <strong>{{ 'shared.required_field' | translate }}</strong>
                    </mat-error>
                    <mat-error *ngIf="serviceForm.controls['time'].hasError('min')">
                        <strong>{{ 'services.bigger-than-zero' | translate }}</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="m-2 form-field">
                    <mat-label>
                        {{ "services.advices" | translate }}
                    </mat-label>
                    <input matInput type="text" formControlName="advices">
                    <mat-error *ngIf="serviceForm.controls['advices'].hasError('required')">
                        <strong>{{ 'shared.required_field' | translate }}</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>
        {{ "shared.cancel" | translate }}
    </button>
    <button [disabled]="!serviceForm.valid" mat-raised-button (click)="sumbit()" color="primary"
        [mat-dialog-close]="true">
        {{ "shared.save" | translate }}
    </button>
</mat-dialog-actions>