<form [formGroup]="economicTaskSearchForm">
   <div class="search-label">
    <mat-icon matTooltip="{{ 'shared.filter' | translate }}">filter_alt</mat-icon>
    <mat-form-field class="m-2 form-field">
        <mat-label>
            {{ 'employess.economic-task.title' | translate }}
        </mat-label>
        <input matInput type="text" formControlName="title">
    </mat-form-field>
    <mat-form-field class="m-2 form-field">
        <mat-label>
            {{ 'shared.name' | translate }}
        </mat-label>
        <input matInput type="text" formControlName="name">
    </mat-form-field>
    <mat-form-field class="m-2 form-field">
        <mat-label>
            {{ 'shared.surname' | translate }}
        </mat-label>
        <input matInput type="text" formControlName="surname">
    </mat-form-field>
    <button class="m-2 button-margin" mat-raised-button color="primary" (click)="search()">{{ 'shared.search' | translate }}</button>
</div> 
</form>
