<ng-container *ngIf="sideMenuElement.childrens.length <= 0; else mat_expansion_menu">
    <li class="side-nav-item" [appCanAccess]="sideMenuElement.accessRole">
        <ng-container *ngIf="!isSmall; else inactiveLink">
            <a class="side-nav-item-a" routerLink="{{ sideMenuElement.url }}"
            [ngClass]="(sideMenuElement.url===router.url || sideMenuElement.modalUrl===router.url)?'selected':'not-selected'">
                <mat-icon>
                    {{ sideMenuElement.icon }}
                </mat-icon>
                <span class="side-nav-item-name">
                    {{ sideMenuElement.title | translate }}
                </span>
            </a>
        </ng-container>
        <ng-template #inactiveLink>
            <a class="side-nav-item-a" [ngClass]="(sideMenuElement.url===router.url)?'selected':'not-selected'">
                <mat-icon>
                    {{ sideMenuElement.icon }}
                </mat-icon>
                <span class="side-nav-item-name">
                    {{ sideMenuElement.title | translate }}
                </span>
            </a>
        </ng-template>
    </li>
</ng-container>
<ng-template #mat_expansion_menu>
    <li class="side-nav-item"  [appCanAccess]="sideMenuElement.accessRole">
        <mat-expansion-panel [(expanded)]="isClosed" hideToggle="{{ isSmall }}"
            disabled="{{ isSmall }}">
            <mat-expansion-panel-header [ngClass]="checkIfSelectedMatHeader(sideMenuElement.childrens)">
                <mat-panel-title>
                    <mat-icon>
                        {{ sideMenuElement.icon }}
                    </mat-icon>
                    <span class="side-nav-item-name">
                        {{ sideMenuElement.title | translate }}
                    </span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="side-nav-items">
                <ng-container *ngFor="let child of sideMenuElement.childrens">
                    <app-side-nav-menu-sub-item [sideMenuElement]="child"></app-side-nav-menu-sub-item>
                </ng-container>
            </ul>
        </mat-expansion-panel>
    </li>
</ng-template>