<h2 *ngIf="editMode" mat-dialog-title>{{ "account.edit-certification" | translate }}</h2>
<h2 *ngIf="!editMode" mat-dialog-title>{{ 'account.view-certification' | translate }}</h2>
<mat-dialog-content class="mat-typography mb-2">
    <div class="col">
        <div class="row">
            <mat-form-field class="m-2 form-field">
                <mat-label *ngIf="editMode">
                    {{ "account.seperate-with" | translate }}
                </mat-label>
                <textarea [disabled]="!editMode" [(ngModel)]="certificationListInString" matInput type="text"></textarea>
            </mat-form-field>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <ng-container *ngIf="editMode">
        <button mat-button mat-dialog-close>
            {{ "shared.cancel" | translate }}
        </button>
        <button mat-raised-button (click)="sumbit()" color="primary" [mat-dialog-close]="true">
            {{ "shared.save" | translate }}
        </button>
    </ng-container>
    <ng-container *ngIf="!editMode">
        <button 
            (click)="sumbit()" 
            mat-raised-button color="primary" 
            [mat-dialog-close]="true">
            {{ "shared.close" | translate }}
        </button>
    </ng-container>
</mat-dialog-actions>