<h2 mat-dialog-title>{{ 'client.view-client' | translate }}</h2>
<mat-dialog-content class="mat-typography mb-4">
    <form [formGroup]="clientAccountData">
        <div class="col">
            <div class="row">
                <mat-form-field class="m-2 w-100">
                    <mat-label>
                        {{ 'core.login-page.e-mail' | translate }}
                    </mat-label>
                    <input autocomplete="off" matInput type="email" formControlName="email">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="m-2 form-field">
                    <mat-label>
                        {{ 'account.name' | translate }}
                    </mat-label>
                    <input matInput type="text" formControlName="name">
                </mat-form-field>
                <mat-form-field class="m-2 form-field">
                    <mat-label>
                        {{ 'account.surname' | translate }}
                    </mat-label>
                    <input matInput type="text" formControlName="surname">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="m-2 form-date-field">
                    <mat-label>
                        {{ 'account.birthday' | translate }}
                    </mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="birthday">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="m-2 form-field">
                    <mat-label>
                        {{ 'account.phone' | translate }}
                    </mat-label>
                    <input matInput type="number" formControlName="phone">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="m-2 form-field">
                    <mat-label>
                        {{ 'account.street' | translate }}
                    </mat-label>
                    <input matInput type="text" formControlName="street">
                </mat-form-field>
                <mat-form-field class="m-2 form-field">
                    <mat-label>
                        {{ 'account.townCode' | translate }}
                    </mat-label>
                    <input matInput type="text" formControlName="code">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="m-2 w-100">
                    <mat-label>
                        {{ 'account.town' | translate }}
                    </mat-label>
                    <input matInput type="text" formControlName="town">
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-dialog-close mat-raised-button color="primary">
        {{ "shared.close" | translate }}
    </button>
</mat-dialog-actions>