<div class="calendar">
    <div class="row">
        <div class="col text-left icon">
            <button mat-mini-fab color="white" class="ml-5 no-shadow"
                matTooltip="{{ 'services-promotion.previous-week' | translate }}" (click)="removeSevenDays()">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
        </div>
        <div class="col ">
            <div class="row">
                <div class="w-100 text-center wrapper">
                    <div class="hidden-date-wrapper">
                        <mat-form-field class="hidden-date-picker">
                            <input matInput [matDatepicker]="picker" [matDatepickerFilter]="myFilter"
                                [formControl]="dateFormControl">
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <button mat-button color="white" class="no-shadow" *ngIf="dateController.monthTitle"
                        matTooltip="{{ 'services-promotion.change-date' | translate }}" (click)="picker.open()">
                        <span class="calendar-title">
                            {{ 'months.' + dateController.monthTitle.toLowerCase() | translate }}
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col text-right icon">
            <button mat-mini-fab color="white" class="mr-5 no-shadow"
                matTooltip="{{ 'services-promotion.next-week' | translate }}" (click)="addSevenDays()">
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>
    </div>
    <mat-divider>
    </mat-divider>
    <div class="row">
        <div class="m-2 col">
            <div class="row">
                <div class="text-center w-100">
                    {{ 'date.monday' | translate }}
                </div>
            </div>
            <div class="row">
                <div class="text-center w-100">
                    {{ dateController.mondayDate }}
                </div>
            </div>
        </div>
        <div class="m-2 col">
            <div class="row">
                <div class="text-center w-100">
                    {{ 'date.tuesday' | translate }}
                </div>
            </div>
            <div class="row">
                <div class="text-center w-100">
                    {{ dateController.tuesdayDate }}
                </div>
            </div>
        </div>
        <div class="m-2 col">
            <div class="row">
                <div class="text-center w-100">
                    {{ 'date.wednesday' | translate }}
                </div>
            </div>
            <div class="row">
                <div class="text-center w-100">
                    {{ dateController.wednesdayDate }}
                </div>
            </div>
        </div>
        <div class="m-2 col">
            <div class="row">
                <div class="text-center w-100">
                    {{ 'date.thursday' | translate }}
                </div>
            </div>
            <div class="row">
                <div class="text-center w-100">
                    {{ dateController.thursdayDate }}
                </div>
            </div>
        </div>
        <div class="m-2 col">
            <div class="row">
                <div class="text-center w-100">
                    {{ 'date.friday' | translate }}
                </div>
            </div>
            <div class="row">
                <div class="text-center w-100">
                    {{ dateController.fridayDate }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <!-- monday -->
        <ng-container *ngFor="let productPromotion of weekPromotionsProduct.mondayProductPromotions">
            <div class="row">
                <mat-card [ngClass]="{'not-selected ': checkIfNotSelected(productPromotion.uuid)}" class="m-3 w-100">
                    <mat-card-header class="w-100">
                        <mat-card-title>
                            <mat-icon class="mr-2" (click)="select(productPromotion.uuid)">local_offer</mat-icon>
                            <span>{{ productPromotion.name }}</span>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <mat-card-content>
                        <ng-container *ngIf="productPromotion.price">
                            {{ productPromotion.price }} PLN <br>
                        </ng-container>
                        <ng-container *ngIf="productPromotion.precent">
                            {{ productPromotion.precent }} % <br>
                        </ng-container>
                        {{ productPromotion.description }}
                    </mat-card-content>
                </mat-card>
            </div>
        </ng-container>
    </div>
    <div class="col">
        <!-- tuesday -->
        <ng-container *ngFor="let productPromotion of weekPromotionsProduct.tuesdayProductPromotions">
            <div class="row">
                <mat-card [ngClass]="{'not-selected ': checkIfNotSelected(productPromotion.uuid)}" class="m-3 w-100">
                    <mat-card-header class="w-100">
                        <mat-card-title>
                            <mat-icon class="mr-2" (click)="select(productPromotion.uuid)">local_offer</mat-icon>
                            <span>{{ productPromotion.name }}</span>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <mat-card-content>
                        <ng-container *ngIf="productPromotion.price">
                            {{ productPromotion.price }} PLN <br>
                        </ng-container>
                        <ng-container *ngIf="productPromotion.precent">
                            {{ productPromotion.precent }} % <br>
                        </ng-container>
                        {{ productPromotion.description }}
                    </mat-card-content>
                </mat-card>
            </div>
        </ng-container>
    </div>
    <div class="col">
        <!-- wednesday -->
        <ng-container *ngFor="let productPromotion of weekPromotionsProduct.wednesdayProductPromotions">
            <div class="row">
                <mat-card [ngClass]="{'not-selected ': checkIfNotSelected(productPromotion.uuid)}" class="m-3 w-100">
                    <mat-card-header class="w-100">
                        <mat-card-title>
                            <mat-icon class="mr-2" (click)="select(productPromotion.uuid)">local_offer</mat-icon>
                            <span>{{ productPromotion.name }}</span>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <mat-card-content>
                        <ng-container *ngIf="productPromotion.price">
                            {{ productPromotion.price }} PLN <br>
                        </ng-container>
                        <ng-container *ngIf="productPromotion.precent">
                            {{ productPromotion.precent }} % <br>
                        </ng-container>
                        {{ productPromotion.description }}
                    </mat-card-content>
                </mat-card>
            </div>
        </ng-container>
    </div>
    <div class="col">
        <!-- thursday -->
        <ng-container *ngFor="let productPromotion of weekPromotionsProduct.thursdayProductPromotions">
            <div class="row">
                <mat-card [ngClass]="{'not-selected ': checkIfNotSelected(productPromotion.uuid)}" class="m-3 w-100">
                    <mat-card-header class="w-100">
                        <mat-card-title>
                            <mat-icon class="mr-2" (click)="select(productPromotion.uuid)">local_offer</mat-icon>
                            <span>{{ productPromotion.name }}</span>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <mat-card-content>
                        <ng-container *ngIf="productPromotion.price">
                            {{ productPromotion.price }} PLN <br>
                        </ng-container>
                        <ng-container *ngIf="productPromotion.precent">
                            {{ productPromotion.precent }} % <br>
                        </ng-container>
                        {{ productPromotion.description }}
                    </mat-card-content>
                </mat-card>
            </div>
        </ng-container>
    </div>
    <div class="col">
        <!-- friday -->
        <ng-container *ngFor="let productPromotion of weekPromotionsProduct.fridayProductPromotions">
            <div class="row">
                <mat-card [ngClass]="{'not-selected ': checkIfNotSelected(productPromotion.uuid)}" class="m-3 w-100">
                    <mat-card-header class="w-100">
                        <mat-card-title>
                            <mat-icon class="mr-2" (click)="select(productPromotion.uuid)">local_offer</mat-icon>
                            <span>{{ productPromotion.name }}</span>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <mat-card-content>
                        <ng-container *ngIf="productPromotion.price">
                            {{ productPromotion.price }} PLN <br>
                        </ng-container>
                        <ng-container *ngIf="productPromotion.precent">
                            {{ productPromotion.precent }} % <br>
                        </ng-container>
                        {{ productPromotion.description }}
                    </mat-card-content>
                </mat-card>
            </div>
        </ng-container>
    </div>
</div>