<h2 mat-dialog-title>{{ 'raports.add-machine-raport' | translate }}</h2>
<mat-dialog-content class="mat-typography mb-4">
    <form [formGroup]="machineRaportForm">
        <div class="col">
            <div class="row">
                <mat-form-field class="m-2 w-100">
                    <mat-label>
                        {{ 'shared.title' | translate }}
                    </mat-label>
                    <input [autocomplete]="false" matInput type="text" formControlName="title">
                    <mat-error *ngIf="machineRaportForm.controls['title'].hasError('required')">
                        <strong>{{ 'shared.required_field' | translate }}</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="m-2 w-100">
                    <mat-label>
                        {{ 'shared.description' | translate }}
                    </mat-label>
                    <textarea matInput type="text" formControlName="description"></textarea>
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>
        {{ "shared.cancel" | translate }}
    </button>
    <button 
        [disabled]="!machineRaportForm.valid"
        mat-raised-button (click)="sumbit()"
        color="primary"
        [mat-dialog-close]="true">
        {{ "shared.save" | translate }}
    </button>
</mat-dialog-actions>