<h2 mat-dialog-title>{{ "absence.add-absence" | translate }}</h2>
<mat-dialog-content class="mat-typography mb-2">
    <form [formGroup]="absenceForm">
        <div class="col">
            <div class="row">
                <mat-form-field class="m-2 form-field">
                    <mat-label>
                        {{ "absence.title" | translate }}
                    </mat-label>
                    <input matInput type="text" formControlName="title">
                    <mat-error *ngIf="absenceForm.controls['title'].hasError('required')">
                        <strong>{{ 'shared.required_field' | translate }}</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="m-2 form-field">
                    <mat-label>
                        {{ "absence.worker" | translate }}
                    </mat-label>
                    <mat-select formControlName="worker" [disableOptionCentering]="true">
                        <mat-option></mat-option>
                        <mat-option *ngFor="let worker of workersList" [value]="worker">
                            {{worker.name}} {{worker.surname}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="absenceForm.controls['worker'].hasError('required')">
                        <strong>{{ 'shared.required_field' | translate }}</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="m-2 form-date-field">
                    <mat-label>
                        {{ 'shared.from' | translate }}
                    </mat-label>
                    <input matInput [max]="absenceForm.value.to"  [matDatepicker]="picker1" formControlName="from">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                    <mat-error *ngIf="absenceForm.controls['from'].hasError('required')">
                        <strong>{{ 'shared.required_field' | translate }}</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="m-2 form-date-field">
                    <mat-label>
                        {{ 'shared.to' | translate }}
                    </mat-label>
                    <input matInput [min]="absenceForm.value.from"  [matDatepicker]="picker2" formControlName="to">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                    <mat-error *ngIf="absenceForm.controls['to'].hasError('required')">
                        <strong>{{ 'shared.required_field' | translate }}</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="m-2 w-100">
                    <mat-label>
                        {{ "absence.reason" | translate }}
                    </mat-label>
                    <textarea matInput formControlName="reason" type="text"></textarea>
                    <mat-error *ngIf="absenceForm.controls['reason'].hasError('required')">
                        <strong>{{ 'shared.required_field' | translate }}</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>
        {{ "shared.cancel" | translate }}
    </button>
    <button [disabled]="!absenceForm.valid" mat-raised-button (click)="sumbit()" color="primary"
        [mat-dialog-close]="true">
        {{ "shared.save" | translate }}
    </button>
</mat-dialog-actions>