<h2 mat-dialog-title>{{ 'raports.view-raport' | translate }}</h2>
<mat-dialog-content class="mat-typography mb-4">
    <form [formGroup]="raportForm">
        <div class="col">
            <div class="row">
                <mat-form-field class="m-2 form-field">
                    <mat-label>
                        {{ 'shared.title' | translate }}
                    </mat-label>
                    <input [autocomplete]="false" matInput type="text" formControlName="title">
                </mat-form-field>
                <mat-form-field class="m-2 form-field">
                    <mat-label>
                        {{ 'shared.date' | translate }}
                    </mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="m-2 form-field">
                    <mat-label>
                        {{ 'shared.worker' | translate }}
                    </mat-label>
                    <input [autocomplete]="false" matInput type="text" formControlName="worker"/>
                </mat-form-field>
                <mat-form-field class="m-2 form-field">
                    <mat-label>
                        {{ 'shared.type' | translate }}
                    </mat-label>
                    <input [autocomplete]="false" matInput type="text" formControlName="type"/>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="m-2 w-100">
                    <mat-label>
                        {{ 'shared.description' | translate }}
                    </mat-label>
                    <textarea matInput type="text" formControlName="description"></textarea>
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" mat-dialog-close>
        {{ 'shared.close' | translate }}
    </button>
</mat-dialog-actions>
