<app-service-type-filter *ngIf="servicesTypeList" 
    [servicesTypeList]="servicesTypeList"
    (formEventEmitter)="loadServiceType($event)">
</app-service-type-filter>
<mat-accordion>
    <ng-container *ngFor="let service of servicesList">
        <mat-expansion-panel class="mt-3" [ngClass]="{'not-active ': !service.active}" disabled>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="mat-header-title center">
                        {{service.name}}
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <div class="service-description">
                {{service.price}} PLN, {{service.time}} MIN
                <ng-container *ngIf="service.description"> - {{service.description}} </ng-container>
                <ng-container *ngIf="service.advices"> - {{service.advices}} </ng-container>
            </div>
        </mat-expansion-panel>
    </ng-container>
</mat-accordion>