<div class="video-container">
    <video autoplay muted loop #videoPlayer>
        <source src="/assets/media/background.mp4" type="video/mp4">
    </video>
</div>
<app-menu-header (isSmall)="onMenuWidthChange()" [loggedUser]="loggedUser" (signOut)="signOut()"></app-menu-header>
<div class="menu-with-content">
    <app-side-nav-menu [isSmall]="isSmall" [sideMenuElements]="sideMenuElements"></app-side-nav-menu>
    <div class="w-100 content">
        <ng-content></ng-content>
    </div>
</div>
<app-footer></app-footer>